
    <p>
        <a href="#">Home</a> | <a href="#">Products</a> | <a href="#">Checkout</a> | <a href="#">Contact Us</a>
    </p>

    Copyright © 2021 <a href="#">Eshop</a> <!-- Credit: www.templatemo.com -->
